#rightBox {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: end;
}

#rightBox h2, p {
    margin: 0;
}

#rightBox h2 {
    font-family: 'ABC Whyte Inktrap';
    font-weight: normal;
    font-style: italic;
}

#rightBox a {
    color: #f8f8f8;
    text-decoration: none;
    transition: opacity 0.3s ease-in-out 0s;
}

#rightBox a:hover {
    opacity: 0.5;
}

#smallerBox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#smallerBox p{
    margin: 0;
    color: #f8f8f8;
}


/* media viewport responsiveness */
@media only screen and (max-width: 896px) {
    #rightBox {
        text-align: left;
    }
}
