#landingContainer {
    margin: 22rem 7.5rem 10rem 7.5rem;
    width: auto;
    text-align: left;
}

#greyHeadText {
    color: rgba(170, 170, 170, 0.7);
}

#currentJob {
    color: #666666;
}

#blackHeadText {
    color: #202020;
    margin-top: 0.2rem;
}

#currentJob {
    margin-top: 0.75rem;
    display: inline-block;
}

/* media viewport responsiveness */
@media only screen and (max-width: 767px) {
    #landingContainer {
        width: 90%;
        margin: 7rem 1rem;
    }

    #currentJob {
        margin-top: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #landingContainer {
        width: 90%;
        margin: 15rem 3rem 9rem 3rem;
    }
}
